/* Universal Styles */

html {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

p {
	font-weight: 300;
	line-height: 1.3;
}

a {
	text-decoration: none;
	color: inherit;
	font-weight: 500;
}

cite {
	font-size: .8rem;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
}

cite:before {
	content: "- ";
}

.about,
.wrapper {
		display: inline-flex;
	}

.sidemenu {
	width: 40%;
	display: flex;
	flex-direction: column;
	padding: 2rem 0;
	border-left: 1px #C9E4ED solid;
}

.sidemenu article {
	display: flex;
	padding: 1rem;
	border-top: 1px #C9E4ED solid;
	border-bottom: 1px #C9E4ED solid;
	background-color: #EDF6F9;
}

.sidemenu article:first-child {
	border-bottom: none;
}

.sidemenu article:hover {
	background-color: #C66B6B;
	transition: all .2s ease;
	color: #FFFFF7;
}

.sidemenu section:first-child {
	width: 35%;
}

.sidemenu .infobox {
	width: 65%;
	padding-left: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sidemenu h3,
.courses h3 {
		font-size: 1.3rem;
		font-weight: 600;
	}

.sidemenu p {
		padding: .5rem 0;
	}

.sidemenu a:hover {
		color: #F7D265;
		transition: .2s ease-out;
	}

.leftbox {
	width: 60%;
	display: flex;
	flex-direction: column;
	padding: 2rem 1.5rem 2rem 1.5rem;
}

img,
video {
	width: 100%;
	height: auto;
}

.heading {
	width: 100%;
	text-align: center;
	padding-top: 2rem;
	font-weight: 600;
	font-size: 2rem;
}

/* Header */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4rem;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	position: fixed;
	background-color: #C66B6B;
	z-index: 20;
	width: 100%;
	box-sizing: border-box;
	color: #FFFFF7;
}

.logo {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	height: 2rem;
}

.logo h3 span {
	font-weight: 300;
	color: #FFDF82;
}

.logo:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: rgba(198,107,107,0.6);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    
}

.logo:hover:after {
    width: 50%;
    background-color: rgba(198,107,107,0);
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

nav {
	font-family: 'Raleway', sans-serif;
}

nav a {
	font-weight: 300;
}

nav li {
	display: inline;
	padding-right: 1rem;
}

nav li:last-child {
	padding-right: 0;
}

nav li:hover {
	color: #FFDF82;
	transition: color .2s ease-out;
}

.shortmenu {
	display: none;
}

@media only screen and (max-width: 690px) {
	.longmenu {
		display: none;
	}

	.shortmenu {
		display: block;
		width: 50%;
	}

	.shortmenu ul {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.shortmenu li:first-child {
		display: none;
	}
}

@media only screen and (max-width: 540px) {
	.shortmenu li:first-child {
		display: inherit;
	}

	.shortmenu {
		width: 100%;
	}

	.logo {
		display: none;
	}
}

/* Main Content */

main .block:nth-child(2n + 1) {
	background-color: #EDF6F9;
}

main .block:nth-child(2n) {
	background-color: #FFFFF7;
}

main,
footer {
	position: relative;
	top: 4rem;
}

/* Splash Section */

.splash {
	display: flex;
	align-items: center;
	padding: 2rem 0 2rem 1.5rem;
}

.splash h1,
.splash p {
	width: 75%;
}

.splash h1 {
	font-weight: 600;
	font-size: 2.5rem;
	line-height: 1.1;
}

.splash p {
	font-weight: 300;
	font-size: 1.5rem;
	padding-top: 1.5rem;
	padding-bottom: 2rem;
}

.splash section:first-child {
	width: 60%;
}

.splash .infobox {
	display: flex;
	flex-direction: column;
	padding-left: 2.5rem;
	width: 40%;
}

button {
	padding: .5rem;
	font-size: 1rem;
	font-family: 'Raleway', sans-serif;
	background-color: #FFDF82;
	color: #000;
	width: 65%;
	box-shadow: 1px 1px 5px #C2CACC;
	border-radius: 3px;
	text-shadow: 1px 1px 3px #FFDF82;
}

button:hover {
	background-color: #F7D265;
	cursor: pointer;
	transition: background-color .4s ease-out;
	text-shadow: 1px 1px 3px #FFDF82;
}


/* About Section */

	/* Left Box */

	.about .leftbox h2 {
		margin: 2rem 0 1.5rem 0;
		font-size: 2.1rem;
		font-weight: 600;
	}

	.about .leftbox p {
		margin-bottom: 1rem;
	}

	/* Side Menu */

	.about .sidemenu article:last-child {
		border-top: none;
	}

/* Courses Section */

.courses {
	display: flex;
	flex-direction: column;
}

.courses .wrapper {
	flex-wrap: wrap;
	padding: 2rem 4.5rem;
	justify-content: space-between;
	align-items: space-between;
	height: 750px;
	width: 80%;
	margin: 0 auto;
}

.courses section {
	display: flex;
	flex-direction: column;
	width: 32%;
	height: 47%;
	background-color: #FFFFF7;
	position: relative;
}

.courses a:hover {
	background-color: #FFDF82;
	transition: all .3s ease-out;
	width: 100%;
	height: 100%;
}

.courses a:hover > img {
	opacity: .3;
	transition: all .3s ease-out;
}

.courses a:active > img {
	opacity: .1;
}

.calltoaction {
	color: #fff;
	position: absolute; 
	visibility: hidden;
	z-index: 10;
	width: 100%;
	text-shadow: 1px 1px 4px #000;
}

.calltoaction h2 {
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
	font-size: 1.2rem;
	text-align: center;
	padding-top: 20%;
	width: 100%;
	line-height: 1.2;
}

.courses a:hover > .calltoaction {
	visibility: visible;
	transition: all .3s ease-out;
}

.courses h3,
.courses h4,
.courses p {
	padding-left: 1rem;
	padding-right: 1rem;
}

.courses h3 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.courses h4 {
	font-weight: 300;
	padding-bottom: .8rem;
}

.courses p {
	padding-bottom: 1.5rem;
}

/* What's On Section */

.whats-on {
	display: flex;
	flex-direction: column;
}

.whats-on .sidemenu {
	margin-top: 2rem;
	padding-top: 0;
}

.whats-on .leftbox {
	padding-top: 1.18rem;
}

.whats-on .leftbox h3 {
	font-weight: 500;
	font-size: 1.5rem;
	margin: 1.5rem 0 .5rem 0;
}

/* Footer */

footer {
	display: flex;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	/*border-top: 1px solid #DDE7ED;*/
	font-size: .8rem;
	font-family: 'Roboto', sans-serif;
	background-color: #C66B6B;
	color: #F4E4E4;
}

footer span:first-child {
	padding-right: 1rem;
}

footer a {
	font-weight: 300;
}

footer a:hover {
	color: #EAC9C9;
	transition: .2s ease-out;
}

